/* introduction part */
header {
    padding: 15vh 20vh 7vh 20vh;
    flex-direction: column;
    height: 80vh;
    background-color: brown;
    color: white;
}

header h1 {
    text-align: center;
}

header p {
    margin-top: 0;
    font-size: 23px;
}

body {
    font-family: 'IBM Plex Serif', serif;
    color: white;
    line-height: 1.9em;
}

button { 
    padding: 0.5em;
    text-align: center;
    color: white;
    font-size: 25px;
    border:none;
    border:3px solid transparent;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
}

/* game section */
h2 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

div {
    padding: 2%;
}

div p {
    text-align: center;
    font-size: 20px;
}

button#startgame {
    margin: auto;
    width: 50%;
}

#begin {
    margin: 5% 40% 5% 40%;
    width: 16vw;
}

div#gamecontrol {
    background-color: brown;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

button#quit {
    margin: 0 0 0 70%;
    width: 25vw;
    font-size: 20px;
}

#game {
    background-color: brown;
    text-align: center;
}

#game img {
    width: 10vw;
    height: auto;
}

#score {
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 26vh;
}

#player1, #player2 {
    flex: 1;
    text-align: center;
}

#player1 {
    margin: 0;
    background-image: url("images/player1.png");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: center;
}

#player2 {
    margin: 0;
    background-image: url("images/player2.png");
    background-size: 18%;
    background-repeat: no-repeat;
    background-position: center;
}


#actions {
    padding: 0.6%;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    height: 8vh;
}

#rollagain, #pass {
    width: 25vw;
}

.show {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}