body {
    margin: auto;
    max-width: 70vw;
    justify-content: center;
    background-color: rgb(223, 242, 255);
}

h1, h2 {
    margin: 3% 3% 0 3%;
}

h1 {
    font-family: 'Rampart One', cursive;
}

h2 {
    font-family: 'Jost', sans-serif;
}

h3 {
    font-family: 'Rampart One', cursive;
    font-size: 25px;
}

article {
    padding: 0 4% 0 4%;
    margin: 3%;
    border: 2px;
    border-radius: 10px;
    border-color:black;
    border-style: dashed;
}

p, li {
    font-size: 22px;
    font-family: 'Jost', sans-serif;
    padding-bottom: 2%;
}

li {
    padding: 0;
}

img {
    margin: auto;
    padding-bottom: 2%;
    display: block;
}

#result {
    background-color: rgb(255, 224, 224);
}

#conclusion {
    border: 2px;
    border-radius: 10px;
    border-color:black;
    border-style:solid;
    background-color: rgb(255, 248, 239);
}

article#conclusion {
    padding: 0 2.3% 2.3% 2.3%;
}