h1{
    margin: 13% 93% 0 7%;
    padding: 4%;
    background-color: rgb(255, 255, 148);
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    color:rgb(59, 59, 59);
}

h3 {
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
}

article {
    position: absolute;
    margin: 10% 15% 10% 20%;
    padding: 3% 5% 3% 15%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    box-shadow: 20px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 1.4em;
}

article a {
    padding: 0.5em;
    text-decoration: none;
    color: black;
    border-style:dashed;
    border-radius: 5px;
}

article a:hover {
    background-color: black;
    color: white;
    border: none;
}

.additionalInfo {
    padding: 1.3em;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
}