h2{
    margin: 7% 80% 0 -40%;
    padding: 5% 0 5% 10%;
    background-color: rgb(255, 255, 148);
    border-radius: 5px;
    z-index: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    line-height: 35px;
    color:rgb(59, 59, 59);
}

h3 {
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
}

article {
    margin: 10% 15% 10% 15%;
    padding: 3% 10% 8% 11%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    box-shadow: 20px 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 1.4em;
}

article a {
    padding: 0.5em;
    text-decoration: none;
    color: black;
    border-style:dashed;
    border-radius: 5px;
}

article a:hover {
    background-color: black;
    color: white;
    border: none;
}

.date {
    margin: 0 5% 0 0;
    text-align: right;
}

.additionalInfo {
    padding: 1.3em;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
}

.breakline {
    text-align: center;
}
